body
{
    margin: auto;
}

td
{
    width: 100px;
    height: 100px;

}

.vertical
{
    border-left: 1px solid blue;
    border-right: 1px solid green;

}


.horizontal
{
    border-top: 1px solid yellow;
    border-bottom: 1px solid aquamarine;
}
